 @media (prefers-color-scheme: dark) {
     :root {
         --bg: #111827;
         --text: #e5e7eb;
     }
 }

 :root {
     color-scheme: light dark;
 }

 table td,
 table th,
 table tr {
     border: 1px solid #000;
     color: inherit;
 }

 thead tr th {
     position: sticky;
     top: 0;
     z-index: 10;
     background-color: #f3f4f6;
 }

 .dark table td,
 .dark table th,
 .dark table tr {
     border: 1px solid #fff;
     color: #f7fafc;
 }

 .dark h1 h2 span {
     color: white;
 }

 .dark thead tr th table label {
     background-color: #2d3748;
 }

 .loader,
 .spinner {
     border: 6px solid #f3f3f3;
     border-top: 6px solid #3498db;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     animation: spin 0.9s linear infinite;
     margin: auto;
 }

 @keyframes spin {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 body {
     transition: background-color 0.3s, color 0.3s;
 }

 .dark body {
     background-color: #1a202c;
     color: #f7fafc;
 }

 .dark .main-content div {
     background-color: #1a202c;
 }

 .sidebar {
     transition: width 0.3s ease;
 }

 .sidebar-collapsed .sidebar-text {
     display: none;
 }

 .sidebar-collapsed .sidebar-icon {
     justify-content: center;
 }

 .toggle-thumb {
     transform: translateX(0);
 }

 .dark .toggle-thumb {
     transform: translateX(24px);
 }

 .transition-transform {
     transition: transform 0.3s ease-in-out;
 }

 .sales-table th,
 .sales-table td {
     padding: 6px 8px;
     border: 1px solid #d1d5db;
     font-size: 13px;
 }

 .sales-table th {
     background-color: #f3f4f6;
     font-weight: 600;
 }

 .sales-table tr:nth-child(even) {
     background-color: #f9fafb;
 }

 .dark .sales-table th {
     background-color: #2d3748;
 }

 .dark .sales-table tr:nth-child(even) {
     background-color: #1e293b;
 }

 .dark .sales-table td {
     border-color: #4a5568;
 }

 .sales-table .highlight-green {
     color: #047857;
     font-weight: 600;
 }

 .sales-table .highlight-red {
     color: #b91c1c;
     font-weight: 700;
 }

 /* Alerts & Benchmarks */
 .alert-row {
     background-color: #fef2f2;
     color: black;
 }

 .benchmark-row {
     background-color: #f0fdfa;
 }

 .benchmark-50-row {
     background-color: #fefce8;
 }

 .dark .alert-row,
 .dark .benchmark-row,
 .dark .benchmark-50-row {
     background-color: #2d3748;
     color: #f0fdfa;
 }

 .dark .sidebar {
     background-color: #2d3748;
     color: #edf2f7;
 }

 .dark a {
     color: #90cdf4;
 }

 .dark button {
     background-color: #4a5568;
     color: #e2e8f0;
 }

 .toggle-website span {
     transition: transform 0.2s ease;
     cursor: pointer;
     font-size: 1.1em;
 }

 .toggle-website.collapsed span {
     transform: rotate(-90deg);
 }

 .website-details {
     transition: all 0.3s ease;
     overflow: hidden;
 }
